* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color:   #78350F; /* メインの色（濃い茶色） */
  --accent-color: #F59E0B; /* アクセントの色（オレンジ） */
  --bg-color:     #67655d; /* ページ全体の背景色（クリーム色） */
  --text-color:   #1F2937; /* 文字色（濃いグレー） */
  --card-color:   #FFFFFF; /* カードやヘッダーの白 */
  --muted-color:  #6B7280; /* 説明文や枠線の控えめなグレー */
}

body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--card-color);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

nav {
    display: flex;
    gap: 24px;
}

section {
    max-width: 960px;
    margin:0 auto;
    padding: 60px 24px;
}

section h2 {
    font-size: 30px;
    border-bottom: 3px solid var(--accent-color);
}

h1, h2, h3 {
    color: var(--main-color);
}

/* hero */
#hero{
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /* 黒い半透明（文字を読みやすく） */
    url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?w=1600&h=900&fit=crop&auto=format&q=80"); /* 背景写真 */
    padding: 140px 24px;
    background-size: cover;
    background-position: center;
    color: var(--card-color);
    text-align: center;
    max-width: none;
}

#hero h2 {
    border-bottom: none;
    color:var(--card-color);
}